#table th,
#table td {
  vertical-align: middle;
}

#table tr {
  z-index: 10;
}

.alignLeft {
  text-align: right;
}

.textLimited p {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* número de linhas à mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.selected {
  background-color: var(--primary-light);
}

.imgContainer {
  width: 100%;
  height: 100%;
  max-width: 4rem;
  max-height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
  margin: 1rem;
  box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.03);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgContainer > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.imgContainer img {
  max-width: 100%;
  max-height: 100%;
  padding: 0.5rem;
  object-fit: cover;
}

.bContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  bottom: 2rem;
  margin: 0.5rem 1rem;
  pointer-events: none;
}

.aContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 17rem; */
  margin: 0 12px;
}

.actions {
  width: fit-content;
  min-width: 9rem;
  max-width: 18rem;
  padding: 0.6rem 0;
  border-radius: 30px;
  background-color: var(--bs-gray-400);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  pointer-events: auto;
}

.actions button {
  border: none;
  background-color: inherit;
  padding: 2px;
}

.actions button:disabled {
  background: gray;
  color: white;
}

.hover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hover:hover div:hover button.active {
  width: 8rem;
  border-radius: 30px;
}

.actions svg {
  width: 2.2rem;
  height: 2.2rem;
  padding: 6px;
  color: var(--bs-white);
}

.actions div {
  margin: 0 4px;
}

.edit button {
  width: 3rem;
  height: 3rem;
  background-color: rgb(226, 137, 43);
  border-radius: 50%;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.edit button.active::after {
  animation-name: fade;
  animation-duration: 0.5s;
}

.edit button.active:hover::after {
  content: attr(title);
  color: white;
}

.consult button {
  width: 3rem;
  height: 3rem;
  background-color: rgb(43, 128, 226);
  border-radius: 50%;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.consult button.active::after {
  animation-name: fade;
  animation-duration: 0.5s;
}

.consult button.active:hover::after {
  content: attr(title);
  color: white;
}

.delete button {
  width: 3rem;
  height: 3rem;
  background-color: rgb(226, 55, 43);
  border-radius: 50%;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.delete button.active::after {
  animation-name: fade;
  animation-duration: 0.5s;
}

.delete button.active:hover::after {
  content: attr(title);
  color: white;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
