.pageFooter {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    color: white;
}

.pageFooter .topBarContainer {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pageFooter .topBarContainer a {
    transition: 0.2s;
}

.pageFooter .topBarContainer a:hover {
    opacity: 0.6;
}

.pageFooter .topBarContainer .logoContainter a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageFooter .topBarContainer .logoContainter a #logoImg {
    height: 10rem;
}

.pageFooter .topBarContainer .logoContainter a #logoTitle {
    height: 7rem;
}

.pageFooter .topBarContainer .linksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageFooter .topBarContainer .linksContainer a {
    display: inline-flex;
}

.pageFooter .topBarContainer .linksContainer img {
    height: 3rem;
    width: 3rem;
}

.pageFooter .topBarContainer .linksContainer .mapLocation {
    padding-right: 1.2rem;
    border-right: 2px solid white;
}

.pageFooter .topBarContainer .linksContainer .socialMedias a {
    padding: 1rem;
}

.pageFooter .footerContent {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    padding-bottom: 2rem;
}