.favoriteItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  /* border: 1px solid rgb(188, 188, 188); */
  /* border-radius: 5px; */
  box-shadow: 6px 2px 15px -8px rgba(0, 0, 0, 0.38);
  padding: 1rem 1.5rem;

  margin-bottom: 1rem;

  background-color: white;
}

.main {
  display: flex;
  flex-direction: row;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.imgContainer {
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--bs-gray-200);
}

.imgContainer a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgContainer img {
  max-width: 100%;
  max-height: 100%;
  padding: 0.5rem;
  object-fit: cover;
}

.mainContent h2 {
  font-size: 1.2rem;
  margin: 0.8rem 0 1rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* número de linhas à mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display: flex;
  flex-direction: row;
  width: 20rem;
}

.currentPrice strong {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary);
}

.currentPrice strong:first-child {
  margin-right: 2px;
}

.currentPrice span {
  margin-left: 0.5rem;
  color: gray;
}

.oldPrice {
  text-decoration: line-through;
  color: gray;
  font-size: 1.1rem;
}

.time {
  margin-left: 2rem;
  position: relative;
  bottom: -5px;
}

.time span {
  border: 1px solid rgb(255, 97, 97);
  padding: 0.1rem 0.7rem;
  border-radius: 15px;
  color: rgb(255, 97, 97);
}

.aside {
  margin-left: 1.5rem;
  text-align: right;
  color: gray;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.aside p,
.aside div {
  margin-bottom: 1rem;
}

.aside a {
  color: var(--secondary) !important;
  cursor: pointer;
}

.aside :nth-child(3) {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .image {
    margin-right: 1rem;
  }

  .imgContainer {
    width: 9rem;
    height: 9rem;
  }

  .aside {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 0.5rem 0 0 0;
  }

  .aside div,
  .aside p {
    margin: 0 0 0.3rem 0;
  }

  .aside :nth-child(1) {
    order: 3;
  }

  .aside :nth-child(2) {
    order: 1;
  }

  .aside :nth-child(3) {
    order: 2;
  }
}
