.container {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.favorites {
  width: 95%;
  max-width: 2880px;
  margin: 0 auto;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}