:root {
    font-size: 60%;

	--background: #f0f0f0;
	--text: #000000;
	--text-light: #4b4b4b;
	--primary: #fca311;
	--secondary: #14213d;
	--tertiary: #e5e5e5;
	--quaternary: #000000;
	--quinary: #FFFFFF;

	font-family: 'Roboto', sans-serif;
	font-family: 'Poppins', sans-serif;
}

@media (min-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}

@media (min-width: 720px) {
	html {
		font-size: 87.5%;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	color: var(--text);
}

body,
input,
button,
textarea {
	font: 400 1.5rem Roboto;
}

textarea {
	resize: none;
}

button {
	cursor: pointer;
	outline: 0;
}

a {
	color: inherit;
	text-decoration: none;
}