:root {
  font-size: 85%;

  --background: #f0f0f0;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #fca311;
  --primary-light: #fccc80;
  --secondary: #14213d;
  --tertiary: #463232;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.pageContainer {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.pageContent {
  width: 95%;
  max-width: 1280px;
  min-height: calc(100vh - 19rem);
  margin: 0 auto;
  padding: 1rem 0;
}

.fx-row {
  display: flex;
  flex-direction: row;
}

.fx-column {
  display: flex;
  flex-direction: column;
}

.just-cont-center {
  justify-content: center;
}

.align-i-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.oveflow-hidden {
  overflow: hidden;
}

.entire-page {
  width: 100vw;
  height: 100vh;
}

.bold {
  font-weight: 700;
}

#paymentRef ul[role="tablist"] {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

:root input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

:root input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media (min-width: 1200px) {
  :root {
    font-size: 85%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  :root {
    font-size: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  :root {
    font-size: 75%;
  }
}

@media (max-width: 767px) {
  :root {
    font-size: 60%;
  }

  .pageContent {
    min-height: calc(100vh - 30rem);
  }
}
