.pageHeader,
.loginHeader {
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary);
}

.topBarContainer {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  padding: 0.5rem 0;
}

.topBarContainer a,
.topBarContainer button {
  transition: 0.2s;
}

.topBarContainer a:hover {
  opacity: 0.6;
}

.topBarContainer > div {
  padding: 0 1.2rem;
}

.logo {
  min-width: 165px;
  max-width: 250px;
}

.logo img:first-child {
  width: 30%;
}

.logo img:last-child {
  width: 70%;
}

.userContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userContainer a {
  nav-index: 4;
}

.userContainer a img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.userInfo {
  margin-left: 0.4rem;
}

.userInfo strong {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* width: 11rem; */
  max-width: 11rem;
  overflow: hidden;
  text-transform: capitalize;
}

.log {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.log a {
  nav-index: 5;
}

.log button {
  nav-index: 6;

  border: none;
  /* border-left: 1px solid #000000; */
  /* padding-left: 0.3rem;
  margin-left: 0.3rem; */
}

.log button,
.log a {
  font-size: 0.8rem;
  color: #414141;
  background-color: inherit;
  text-decoration: none;
  padding: 0;
}

.divider {
  background-color: #414141;
  width: 1px;
  height: 12px;
  margin: 0 4px;
}

.userActions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userActions a {
  color: #000000;
}

.shoppingCart {
  padding-right: 1rem;
}

.shoppingCart a {
  nav-index: 7;
}

.favoriteItens a {
  nav-index: 8;
}

.topBarContainer > :nth-child(1) {
  order: 1;
}
.topBarContainer > :nth-child(2) {
  order: 2;
}
.topBarContainer > :nth-child(3) {
  order: 3;
}
.topBarContainer > :nth-child(4) {
  order: 4;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .inputContainer {
    margin-top: 8px;
  }

  .logo {
    min-width: 144px;
    max-width: 200px;
  }

  .pageHeader {
    height: 12rem;
  }

  .loginHeader {
    height: 8rem;
  }

  .topBarContainer {
    flex-wrap: wrap;
  }

  .topBarContainer > div {
    padding: 0;
  }

  .topBarContainer > :nth-child(1) {
    order: 1;
  }
  .topBarContainer > :nth-child(2) {
    order: 4;
  }
  .topBarContainer > :nth-child(3) {
    order: 2;
  }
  .topBarContainer > :nth-child(4) {
    order: 3;
  }
}

@media(max-width: 575px) {
  .userInfo {
    display: none;
  }

  .userContainer {
    padding: 0 21px;
  }

  .userContainer a img,
  .userActions img {
    max-width: 4rem;
    min-width: 2rem;
    max-height: 4rem;
    min-height: 2rem;
    width: 100%;
    height: 100%;
  }
}
