.container {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.productSearch {
  width: 95%;
  max-width: 2880px;
  margin: 0 auto;
  padding: 2rem 0;

  display: flex;
  justify-content: center;
}

.productSearch hr {
  height: 1px;
  background-color: rgb(219, 219, 219);
  border: none;
}

.product {
  width: 65rem;
  height: 35rem;
  background-color: white;
  margin-right: 1rem;
  display: flex;
}

.imageContainer {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mainImage {
  min-width: 30rem;
  min-height: 25rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mainImage img {
  max-width: 25rem;
  max-height: 25rem;
}

.imageCollection {
  display: inline-flex;
  align-items: center;
}

.imageItem {
  min-width: 6rem;
  min-height: 6rem;
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.imageCollection button {
  border: none;
  background-color: inherit;
}

.imageItem img {
  max-width: 6.5rem;
  max-height: 6.5rem;
  border: 1px solid #e4e4e4;
  padding: 0.1rem;
}

.infoContainer {
  min-width: 27rem;
  margin: 0 1.4rem;
}

.infoContainer h1 {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.infoContainer h1::first-letter {
  text-transform: uppercase;
}

.brand {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.description {
  margin: 1rem 0;
}

.phisicsDimentions {
  margin: 1rem 0;
}

.buy {
  width: 25rem;
  height: 35rem;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 2rem;
}

.price {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.currentPrice {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2c4069;
}

.currence {
  margin-right: 0.4rem;
}

.installment {
  margin-bottom: 0.5rem;
}

.currence,
.dividedValue,
.times {
  font-weight: 500;
}

.fav {
	text-align: end;
	position: relative;
	bottom: 6rem;
	display: flex;
	justify-content: flex-end;
}

.fav button {
	border: 1px solid #b1b1b1;
  color: #b1b1b1;
	display: flex;
	align-items: center;
}

.fav button:hover {
	background-color: inherit;
}

.favImg {
	height: 1.8rem;
	width: 1.8rem;
	margin-right: 0.2rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.addCart {
  padding: 0.2rem 0;
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: white;
  font: 400 1.3rem Roboto;
  margin: 0.2rem 0;
  transition: 0.2s;
}

.addCart:hover {
  background-color: var(--primary);
  color: #ffffff;
}

.buyButton {
  padding: 0.5rem 0;
  border: none;
  background-color: #139c2a;
  color: white;
  font: 500 1.6rem Roboto;
  letter-spacing: 0.2rem;
  margin: 0.3rem 0;
  transition: 0.2s;
}

.buyButton:hover {
  background-color: #187c28;
  color: #183f0d;
}
