.productSearch {
  width: 95%;
  max-width: 2880px;
  margin: 0 auto;
  padding: 2rem 0;

  display: flex;
  justify-content: center;
}

.row {
  height: fit-content;
}

.product {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-right: 1rem;
  display: flex;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mainImage {
  width: 25rem;
  height: 25rem;
  margin-bottom: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mainImage img {
  max-width: 20rem;
  max-height: 20rem;
}

.imageCollection {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.imageItem {
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e4e4;
  padding: 5px;
}

.imageCollection button {
  border: none;
  background-color: inherit;
}

.imageItem img {
  width: 100%;
  max-width: 6.5rem;
  max-height: 6.5rem;
  padding: 0.1rem;
}

.arrow {
  min-width: 2rem;
}

.infoContainer {
  margin: 0 1.4rem;
}

.infoContainer h1 {
  font-size: 1.3rem;
  margin-top: 2rem;
}

.brand {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.description {
  margin: 1rem 0;
}

.phisicsDimentions {
  margin: 1rem 0;
}

.shipping {
  margin: 1rem 0;
}

.buy {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 2rem;
}

.right {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.currentPrice {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2c4069;
}

.currence {
  margin-right: 0.4rem;
}

.installment {
  margin-bottom: 0.5rem;
}

.currence,
.dividedValue,
.times {
  font-weight: 500;
}

.fav {
	/* text-align: end;
	position: absolute;
	right: 80px;
	display: flex;
	justify-content: flex-end; */
}

.fav button {
	border: 1px solid #b1b1b1;
  color: #b1b1b1;
	display: flex;
	align-items: center;
}

.fav button:hover {
	background-color: inherit;
}

.favImg {
	height: 1.8rem;
	width: 1.8rem;
	margin-right: 0.2rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.addCart {
  padding: 0.2rem 0;
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: white;
  font-size: 1.2rem;
  margin: 0.2rem 0;
  transition: 0.2s;
}

.addCart:hover {
  background-color: var(--primary);
  color: #ffffff;
}

.buyButton {
  padding: 0.5rem 0;
  border: none;
  background-color: #139c2a;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 0.3rem 0;
  transition: 0.2s;
}

.buyButton:hover {
  background-color: #187c28;
  color: #183f0d;
}
