.inputNumber {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputNumber input {
  min-width: 50px;
  min-height: 34px;

  border: none;
  background-color: inherit;
  text-align: center;
  color: var(--bs-gray-800);
}

.inputNumber input:focus {
  outline: 0;
}

#minus,
#plus {
  background-color: var(--secondary);
  border-radius: 50%;
  border: none;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

#minus svg,
#plus svg {
  color: var(--bs-white);
}

#minus:hover,
#plus:hover {
  background-color: inherit;
}

#minus:hover svg,
#plus:hover svg {
  color: var(--secondary);
}

#plus:disabled,
#minus:disabled {
  background-color: inherit;
}

#plus:disabled svg,
#minus:disabled svg {
  color: var(--bs-gray-400);
}

.inputNumber input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputNumber input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
