.accountMenu {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.accountMenu .menuItem {
    list-style-type: none;
    width: fit-content;
}

.accountMenu .menuItem:hover {
    color: var(--primary);
}

.accountMenu .menuItem a {
    font-size: 1.7rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
}

.accountMenu .menuItem img {
    height: 5rem;
    margin-right: 1rem;
    align-items: center;
}

.accountMenu .menuItem .selected {
    color: var(--primary);
}