.navigation {
  font-size: 1rem;
  padding: 0.3rem;
}

.navigationItensContainer {
  align-items: center;
}

.navigationItensContainer > a {
  margin: 0 1rem;
}

.navigationContent {
  width: 95%;
  max-width: 1280px;
}