.productNavigation {
    width: 100%;
    background-color: var(--tertiary);
}

.productNavigation button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: inherit;
}

.productNavigation .productNavigationContent {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productNavigation .productNavigationContent .menu {
    display: flex;
    align-items: flex-start;
}

.productNavigation .productNavigationContent .menu .menuItens {
    border: none;
}

.productNavigation .productNavigationContent .menu .menuItens button {
    padding: 0.6rem 2rem 0.4rem 2rem;
    transition: 0.3s;
    height: 5.5rem;
}

.productNavigation .productNavigationContent .menu .menuItens button:hover {
    background-color: #FFFFFF;
    transition: 0.3s;
}

.productNavigation .productNavigationContent .menu .menuItens .selected {
    border-bottom: 3px solid #72b0e4;
}

.productNavigation .productNavigationContent .menu .menuItens .departmentsDropdown {
    position: relative;
}

.productNavigation .productNavigationContent .menu .menuItens .departmentsDropdown .dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 24.89rem;
    z-index: 1;
}

.productNavigation .productNavigationContent .menu .menuItens .departmentsDropdown .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.productNavigation .productNavigationContent .menu .menuItens .departmentsDropdown .dropdownContent a:hover {
    background-color: #d4d4d4;
}

.productNavigation .productNavigationContent .menu .menuItens .departmentsDropdown .dropdownButton .arrowAnimation {
    transition: all 0.5s ease-in-out;
}

.productNavigation .productNavigationContent .menu .menuItens .departmentsDropdown:hover .dropdownButton .arrowAnimation {
    transform: rotate(180deg);
}

.productNavigation .productNavigationContent .menu .menuItens .departmentsDropdown:hover .dropdownButton {
    background-color: white;
}

.productNavigation .productNavigationContent .menu .menuItens .departmentsDropdown:hover .dropdownContent {
    background-color: white;
    display: block;
}

.productNavigation .productNavigationContent .menu .menuItens button img {
    opacity: 0.8;
}

.productNavigation .productNavigationContent .menu .menuItens button strong {
    padding-left: 1rem;
    font-size: 1.8rem;
}