.telephoneCard {
	border: 1px solid var(--primary);
	margin: 2rem;
	height: fit-content;
	flex: 1 1 18rem;
	max-width: 22rem;
	min-width: 18rem;
	flex-wrap: wrap;
}

.telephoneCard button:hover {
	opacity: 0.6;
}

.telephoneCard header {
	display: flex;
	align-items: center;
	background-color: var(--primary);
	justify-content: space-between;
	padding: 0.5rem 0;
}

.telephoneCard header .telephoneTitle {
	margin-left: 0.5rem;
}

.telephoneCard header .telephoneActions {
	margin-right: 0.4rem;
}

.telephoneCard header button {
	border: none;
	background-color: inherit;
	margin: 0 0.3rem;
}

.telephoneCard header button img {
	width: 2.5rem;
}

.telephoneCard .content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 2rem;
}

.telephoneCard .dddNumber,
.telephoneCard .telephoneNumber {
	display: flex;
	flex-direction: column;
	margin: 0 0.5rem;
}

.telephoneCard .dddNumber {
	align-items: flex-end;
	
}

.telephoneCard .dddNumber input {
	width: 3rem;
	background-color: var(--quinary);
	border: 0;
	align-items: flex-end;
	text-align: center;
}

.telephoneCard .telephoneNumber input {
	width: 9rem;
	background-color: var(--quinary);
	border: 0;
}