.dropzone {
    border-radius: 4px;
    cursor: pointer;
    transition: height 0.2s ease;
}

.uploadMessage {
    display: flex;
    color: #999;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border: 1px dashed #ddd;
}

.dragActive {
    border-color: #78e5ae;
    color: #78e5ae;
}

.dragReject {
    border-color: #e57878;
    color: #e57878;
}