.clientTable .filters {
    display: flex;
    flex-direction: column;
}

.clientTable .table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    max-width: 2880px;
}

.clientTable .table .selected {
    background-color: blue;
}

.clientTable .table thead tr th {
    background-color: #a7baff;
    font-weight: bold;
    padding: 1rem 2rem;
}

.clientTable .table tr td {
    cursor: pointer;
}

.clientTable .table tr td, .productsTable table tr th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.clientTable .table tr:nth-child(even) {
    background-color: #dfe5fa;
}

.clientTable .table tr:hover td {
    background-color: #d0dcff;
    color: white;
}

.clientTable .table tr.selected td {
    background-color: #4b79f7;
    color: white;
}