.title {
  color: var(--gray);
}

.progress {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.start {
  width: 100%;
}

.line {
  width: 0%;
  height: 2px;
  background-color: black;
  transition: 2s 1s;
}

.ghostLine {
  background-color: black;
  width: 100%;
  height: 2px;
  opacity: 0.1;
  position: relative;
  top: -2px;
}

.step {
  width: 32px;
  height: 32px;
  background-color: var(--background);
  border-radius: 50%;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -8px;
}

.step svg {
  border-radius: 50%;
}

.currentStep {
  width: 44px;
  height: 44px;
  background-color: var(--background);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nextStep {
  width: 44px;
  height: 44px;
  background-color: var(--background);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  opacity: 0.2;
}

.imgContainer {
  background-color: var(--background);
  padding: 0 6px;
}

.step svg,
.currentStep svg,
.nextStep svg {
  width: 40px;
  height: 40px;
}

.navLinkContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.nav {
  position: relative;
  top: -30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}