.container {
  width: 100%;
}

.cart hr {
  margin: 0 0 1rem 0;
}

.subtitle {
  display: grid;
  grid-template-columns: 170px minmax(100px, 1fr) minmax(min-content, 150px) 130px;
}

.subtitle h3 {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subtitle h3:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.item {
  background-color: white;
  display: grid;
  grid-template-columns: 170px minmax(100px, 1fr) minmax(min-content, 150px) 130px;
  margin: 2rem 0;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  box-shadow: 4px 4px 10px 3px rgba(0,0,0,0.03);
}

.imgContainer a {
  width: 10rem;
  height: 15rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.imgContainer img {
  max-width: 10rem;
  max-height: 10rem;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
}

.qtd {
  display: flex;
  flex-direction: column;
}

.qtd input {
  width: 50px;
}

.qtd button {
  border: none;
  background-color: inherit;
  color: gray;
}

.price {
  font-size: 1.5rem;
}