#login {
	z-index: 10;
	margin: auto;
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 8px 8px 25px #2a4370;
	padding: 2rem 5rem;
	background-color: #bcd3ff;
}

.header {
	display: inline-flex;
	align-items: center;
}

.header h1 {
	font-size: 2rem;
}

.header img {
	width: 5rem;
	margin-right: 1rem;
}

#login label {
	display: block;
	padding: 1rem 0 0.8rem;
	font-size: 1.1rem;
}

#login input {
	border-radius: 7px;
	border: none;
	outline: none;
}

.email input,
.password input {
	padding: 1rem;
	
	width: 20rem;
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
}

.buttonContainer button {
	margin: 1rem 0 0.4rem 0;
	border-radius: 7px;
	border: none;

	width: 7rem;
	height: 3.8rem;

	font-weight: 500;

	cursor: pointer;

	background-color: #ebfff0;
}

.buttonContainer button:hover {
	background-color: #4bb94b;
	transition: 0.2s;
}

.buttonContainer input:active {
	box-shadow: 0 1px #666;
  transform: translateY(4px);
	transition: none;
}

.passwordForgotten {
	display: flex;
	justify-content: center;
	margin-top: 0.7rem;
	font-size: 1rem;
}

.passwordForgotten a {
	color: #2042ff;
}

.register, .employeeLogin {
	display: flex;
	justify-content: center;
}

.register p,
.register span,
.employeeLogin p,
.employeeLogin span {
	font-size: 1rem;
}

.register span a,
.employeeLogin span a {
	margin-left: 0.1rem;
	color: #2042ff;
}

.errorMessage {
	color: #FF0000;
	margin-top: 1.2rem;
}

.errorMessage p {
	text-align: center;
}