.shippingCalc {
  display: flex;
  flex-direction: column;
}

.shippingCalc .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  height: 2.5rem;
}

.shippingCalc .search input {
  width: 15rem;
  height: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary);
}

.shippingCalc .search input:focus {
  outline: 1px solid var(--primary);
}

.shippingCalc .search button {
  height: 100%;
  padding: 0 0.7rem;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.shippingCalc .postalAdress {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem 0;
  color: #777777;
}

.shippingCalc table {
  width: 100%;
}

.shippingCalc table tbody tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.shippingCalc table caption {
  text-align: top;
}

.shippingCalc table thead {
  text-align: left;
}

.shippingCalc table thead .tipo,
.shippingCalc table tbody .tipo {
  text-align: left;
}

.shippingCalc table thead .prazo,
.shippingCalc table tbody .prazo {
  text-align: center;
}

.shippingCalc table thead .valor,
.shippingCalc table tbody .valor {
  text-align: right;
}

.optionList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  width: 50%;
  min-width: 110px;
  max-width: 180px;
  padding: 0.5rem;
  border: 2px solid #b4b4b4;
  color: var(--gray);
  cursor: pointer;
}

.selected {
  border: 2px solid var(--primary);
  color: #563705;
}

.item input[type="radio"] {
  position: relative;
  bottom: -8px;
}

.tipo {
  font-size: 1.3rem;
}

.item input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.item input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fca311;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.tipoP {
  /* width: 100%; */
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content p {
  margin: 0;
}

.content p:first-child {
  margin-bottom: 0.3rem;
}