.container {
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

.productList {
    width: 95%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 1.6rem 0;
}

.col {
    padding: 1rem 0.2rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pagination li a span:last-child {
    display: none;
}

.pagination li span span {
    display: none;
}

