.container {
	height: 100%;
	width: 100%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

.productForm {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.6rem 0;
}

.productForm h1 {
    display: flex;
    justify-content: center;
}

.productForm .formContainer {
    display: flex;
    justify-content: center;
}

.productForm .formContainer form {
    margin: 2rem 4rem;
    background-color: inherit;

    width: 90%;
    display: grid;
    grid-template-areas: 
        'nome preco'
        'marca preco'
        'tamanho codigo'
        'categoria fornecedor'
        'descricao imagem'
        'botoes botoes';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 5fr 1fr;
    grid-column-gap: 6rem;
    grid-row-gap: 1rem;
}

.productForm .formContainer .inputContainer {
    background-color: white;
    padding: 1rem 2rem;
}

.productForm .formContainer .image .inputContainer {
    padding: 1rem;
}

.productForm .formContainer label {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
    font-size: 2rem;
}

.productForm .formContainer .name {
    grid-area: nome;
}
.productForm .formContainer .brand {
    grid-area: marca;
}
.productForm .formContainer .description {
    grid-area: descricao;
}
.productForm .formContainer .size {
    grid-area: tamanho;
}
.productForm .formContainer .salePrice {
    grid-area: preco;
} 
.productForm .formContainer .barcode {
    grid-area: codigo;
}
.productForm .formContainer .image {
    grid-area: imagem;
}
.productForm .formContainer .provider {
    grid-area: fornecedor;
}
.productForm .formContainer .category {
    grid-area: categoria;
}
.productForm .formContainer .buttonsContainer {
    grid-area: botoes;
}

.productForm .formContainer .name input, 
.productForm .formContainer .brand input, 
.productForm .formContainer .description textarea, 
.productForm .formContainer .size input, 
.productForm .formContainer .salePrice input, 
.productForm .formContainer .barcode input, 
.productForm .formContainer .image input {
    height: 2rem;
    width: 100%;
    border: none;
}

.productForm .formContainer .salePrice .inputContainer {
    background-color: #e8ffed;

    height: 12.5rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    font-size: 7rem;
}

.productForm .formContainer .salePrice .currency {
    color: green;
    padding-right: 1rem;
}

.productForm .formContainer .salePrice input {
    background-color: inherit;
    height: 10rem;
    width: 100%;
    font-size: 7rem;
    color: var(--secondary);
}

.productForm .formContainer .description textarea {
    height: 29.625rem;
}

.productForm .formContainer select {
    height: 4rem;
    padding: 1rem 2rem;
    width: 100%;
    border: none;
}

.productForm .addCategory,
.productForm .addProvider {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: none;
    background-color: inherit;
    font-size: 1.7rem;
}

.productForm .addCategory:hover,
.productForm .addProvider:hover {
    color: var(--primary);
}

.productForm .addCategory svg,
.productForm .addProvider svg {
    margin-left: 0.6rem;
}

.productForm .formContainer .category .cancelSelect {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}

.productForm .formContainer .category .cancelSelect button {
    border: 1px solid #dadada;
    padding: 0.3rem 0.6rem;
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    transition: 0.2s
}

.productForm .formContainer .category .cancelSelect button:hover,
.productForm .formContainer .provider .cancelSelect button:hover {
    background-color: #b3b3b3;
}

.productForm .formContainer .provider .providersSelected,
.productForm .formContainer .category .categoriesSelected {
    margin-top: 1rem;
    height: fit-content;
    background-color: white;
}

.productForm .formContainer .category .categoriesSelected .categoryItemSelected,
.productForm .formContainer .provider .providersSelected .providerItemSelected {
    background-color: #fcfbb7;
    padding: 0.4rem 0.7rem;
    display: inline-flex;
    margin: 1rem;
    align-items: center;
}

.productForm .formContainer .category .categoriesSelected .categoryItemSelected div,
.productForm .formContainer .provider .providersSelected .providerItemSelected div {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.productForm .formContainer .category .categoriesSelected .categoryItemSelected button,
.productForm .formContainer .provider .providersSelected .providerItemSelected button {
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
}

.productForm .formContainer .category .categoriesSelected .categoryItemSelected button img,
.productForm .formContainer .provider .providersSelected .providerItemSelected button img {
    width: 2rem;
    position: relative;
    top: 0.1rem;
}

.productForm .formContainer .name input:focus, 
.productForm .formContainer .brand input:focus, 
.productForm .formContainer .description textarea:focus, 
.productForm .formContainer .size input:focus, 
.productForm .formContainer .salePrice input:focus, 
.productForm .formContainer .barcode input:focus, 
.productForm .formContainer .image input:focus,
.productForm .formContainer .provider select:focus,
.productForm .formContainer .category select:focus {
    outline: none;
}

.productForm .formContainer .image input {
    height: fit-content;
}

.productForm .formContainer .buttonsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-span: all;

    padding-top: 1.7rem;

    position: relative;

}

.productForm .formContainer .buttonsContainer .create {
    padding-right: 2rem;
}

.productForm .formContainer .buttonsContainer .create input {
    background-color: #2753ca;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

.productForm .formContainer .buttonsContainer .reset input {
    background-color: #949494;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}


.productForm .formContainer .buttonsContainer .create input:hover {
    cursor: pointer;
    background-color: #6f85c2;
}

.productForm .formContainer .buttonsContainer .reset input:hover {
    cursor: pointer;
    background-color: #b6b6a9;
}

.productForm .formContainer .buttonsContainer .create input:focus,
.productForm .formContainer .buttonsContainer .reset input:focus {
    outline: none;
}