.container {
	height: 100%;
	width: 100%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

.telephoneForm {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.6rem 0;
}