.container {
	height: 100%;
	width: 100%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

.userForm {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.6rem 0;
}

.userForm h1 {
    display: flex;
    justify-content: center;
}

.userForm .formContainer {
    display: flex;
    justify-content: center;
}

.userForm .formContainer form {
    margin: 2rem 4rem;
    background-color: inherit;
    padding: 1rem 4rem 3rem 4rem;
    border-radius: 20px;
    width: 70rem;
}

.userForm .formContainer .inputs .inputContainer,
.userForm .formContainer .inputs .selectContainer {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.userForm .formContainer .provider .selectContainer select option {
    padding: 0 2rem;
}

.userForm .formContainer label {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
}

.userForm .formContainer .email input,
.userForm .formContainer .password input,
.userForm .formContainer .name input, 
.userForm .formContainer .identificationRg input, 
.userForm .formContainer .identificationCpf input, 
.userForm .formContainer .birthDate input,
.userForm .formContainer .telephone input {
    height: 2rem;
    width: 100%;
    border: none;
}

.userForm .formContainer .email input:focus,
.userForm .formContainer .password input:focus,
.userForm .formContainer .name input:focus, 
.userForm .formContainer .identificationRg input:focus, 
.userForm .formContainer .identificationCpf input:focus, 
.userForm .formContainer .birthDate input:focus,
.userForm .formContainer .telephone input:focus {
    outline: none;
}

.userForm .formContainer .buttonsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-span: all;

    padding-top: 1.7rem;
}

.userForm .formContainer .buttonsContainer .create {
    padding-right: 2rem;
}

.userForm .formContainer .buttonsContainer .create input {
    background-color: #2753ca;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

.userForm .formContainer .buttonsContainer .reset input {
    background-color: #949494;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}


.userForm .formContainer .buttonsContainer .create input:hover {
    cursor: pointer;
    background-color: #6f85c2;
}

.userForm .formContainer .buttonsContainer .reset input:hover {
    cursor: pointer;
    background-color: #b6b6a9;
}

.userForm .formContainer .buttonsContainer .create input:focus,
.userForm .formContainer .buttonsContainer .reset input:focus {
    outline: none;
}