.productSearch {
  width: 95%;
  max-width: 2880px;
  min-height: calc(100vh - 245px);
  margin: 0 auto;
  padding: 1.6rem 0;
}

.createButton {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.createButton img {
  position: relative;
  bottom: -1px;
}

.createButton img {
  width: 1.7rem;
}

.createButton p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.bContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  bottom: 20px;
}

.aContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 12px;
}

.actions {
  width: fit-content;
  min-width: 100px;
  max-width: 200px;
  height: 56px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.actions button {
  border: none;
  background-color: inherit;
  padding: 2px;
}

.hover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hover:hover div:hover button {
  width: 140px;
  height: 40px;
  border-radius: 30px;
}

.actions img {
  height: 100%;
  padding: 6px;
}

.actions div {
  margin: 0 4px;
}

.edit button {
  width: 40px;
  height: 40px;
  background-color: rgb(226, 137, 43);
  border-radius: 50%;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.edit button:hover::after {
  content: attr(title);
  color: white;
}

.delete button {
  width: 40px;
  height: 40px;
  background-color: rgb(226, 55, 43);
  border-radius: 50%;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.delete button:hover::after {
  content: attr(title);
  color: white;
}

@media(max-width: 576px) {
  .createButton p {
    display: none;
  }
}