#userForm h1 {
  display: flex;
  justify-content: center;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.formContainer form {
  margin: 2rem 4rem;
  background-color: inherit;
  padding: 1rem 4rem 3rem 4rem;
  border-radius: 20px;
  width: 70rem;
}

.inputContainer,
.selectContainer {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.selectContainer select option {
  padding: 0 2rem;
}

.formContainer label {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0;
}

.email input,
.password input,
.name input,
.identificationRg input,
.identificationCpf input,
.birthDate input,
.telephone input {
  height: 2rem;
  width: 100%;
  border: none;
}

.email input:focus,
.password input:focus,
.name input:focus,
.identificationRg input:focus,
.identificationCpf input:focus,
.birthDate input:focus,
.telephone input:focus {
  outline: none;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-span: all;

  padding-top: 1.7rem;
}

.create {
  padding-right: 2rem;
}

.create input {
  background-color: #2753ca;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
}

.reset input {
  background-color: #949494;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
}

.create input:hover {
  cursor: pointer;
  background-color: #6f85c2;
}

.reset input:hover {
  cursor: pointer;
  background-color: #b6b6a9;
}

.create input:focus,
.reset input:focus {
  outline: none;
}
