#userForm h2 {
  display: flex;
  justify-content: center;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.formContainer form {
  margin: 0 4rem;
  background-color: inherit;
}

.inputContainer,
.selectContainer {
  background-color: white;
  padding: 1rem 1rem;
}

.selectContainer select option {
  padding: 0 2rem;
}

.formContainer label {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0 0.5rem 0;
}

.email input,
.password input,
.name input,
.identificationRg input,
.identificationCpf input,
.birthDate input,
.telephone input {
  width: 100%;
  border: none;
}

.email input:focus,
.password input:focus,
.name input:focus,
.identificationRg input:focus,
.identificationCpf input:focus,
.birthDate input:focus,
.telephone input:focus {
  outline: none;
}

.create button {
  height: 3rem;
}

.formContainer p {
  margin: 0;
  color: var(--danger);
}
