#error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 2rem 2rem 4rem;
  color: var(--bs-gray-700);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 45rem;
}

.content > svg {
  width: 20rem;
  height: 20rem;
  color: var(--bs-gray-500);
  margin-right: 2rem;
}

.content a {
  text-decoration: none;
}

#backToBuy {
  position: relative;
  bottom: -12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#backToBuy svg {
  margin-right: 4px;
}