.container {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.productList {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.6rem 0;
}

.list {
  margin-bottom: 2rem;
}

.productList h1 {
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination li a span:last-child {
  display: none;
}

.pagination li span span {
  display: none;
}
