.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  width: 100%;
  padding: 3rem 1rem;
  font-size: 1.8rem;
  font-family: "PT Sans";
  text-transform: uppercase;
  border: none;
  transition: 0.2s;
  margin-bottom: 1rem;
}
