.postalAdress {
  border: 1px solid var(--primary);
  /* margin: 2rem; */
  height: fit-content;
  flex: 1 1 30rem;
  width: 100%;
  /* max-width: 40rem;
  min-width: 25rem; */
}

.postalAdress header {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  justify-content: space-between;
  padding: 0.4rem 0;
}

.postalAdress header .postalAdressTitle {
  margin-left: 0.5rem;
}

.postalAdress header .postalAdressActions {
  margin-right: 0.4rem;
}

.postalAdress header button {
  border: none;
  background-color: inherit;
  margin: 0 0.3rem;
}

.postalAdress header button img {
  width: 2rem;
}

.postalAdress .content {
  padding: 1rem 1.4rem;
}

.adress,
.complementAndDistrict,
.location {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.4rem 0;
}

.selectable {
  margin: 0;
  border: 1px solid #b7b7b7;
}

.selectable header {
  background-color: #b7b7b7;
  color: white;
}

.selected {
  border: 1px solid var(--primary);
}

.selected header {
  background-color: var(--primary);
  color: white;
}
